div[data-testid="stHorizontalBlock"] {
    align-items: center;
    font-family: sans-serif;
    width: auto;
}

div[data-testid="column"] button[data-testid="baseButton-secondary"] {
    background-color: #0076ef;
    font-family: sans-serif;
    color: white;
    width: 220px;
    box-shadow: none;
    height: 45px;
    border-radius: 25px;
}

div[data-testid="column"] button[data-testid="baseButton-secondary"]:hover {
    border-color: #97cdf0;
    color: #97cdf0;
}